section{
    position: relative;
    min-height: 100vh;
}
.inner{
    max-width: 1640px;
    margin: auto;
    position: relative;
}
h2.tit{
    /* font-size: 100px; */
    /* clamp는 최소값 선호값 최대값을 지정해서 반응형웹을 만드는데 도움을 주는 속성 */
    font-size: clamp(50px, 7vw, 100px);
    font-weight: 800;
}
p.txt{
    font-size: clamp(12px, 1.5vw, 17px);
    max-width: 470px;
    margin-top: clamp(18px, 2.4vw, 30px);
}
a.btn{
    display: inline-flex;
    width: clamp(116px, 14vw, 150px);
    height: clamp(42px, 4.2vw, 47px);
    justify-content: center;
    align-items: center;
    font-size: clamp(16px, 1.9vw, 22px);
    font-weight: 900;
    background-color: #000;
    color: #fff;
    /* 텍스트를 전부 대문자로변환 */
    text-transform: uppercase;
    border-radius: 47px;
}
.tit-wrap{
    margin: 0 auto;
    max-width: 1814px;
    padding: 100px;
}