@media screen and (max-width : 1640px) {
    header .inner{
        padding: 20px;
    }
    .inner{
        padding: 0 20px;
    }
}
@media screen and (max-width : 1440px) {
     .mob-nav-btn{
        display: block;
        width: 30px;
        height: 20px;

        position: relative;
    }
    .mob-nav-btn span{
        display: block;
        width: 100%;
        height: 3px;
        background-color: #fff;
        
        position: absolute;

        transition: all .3s;
    }
    .mob-nav-btn span:nth-child(1){
        top:0;
    }
    .mob-nav-btn span:nth-child(2){
        top:48%;
    }
    .mob-nav-btn span:nth-child(3){
        top:99%;
    }
    

    header .nav-list{
        position: fixed;
        top: 80px;
        right: -100%;
        flex-direction: column;
        
        background-color: rgba(0,0,0, 0.589);
        
        gap: 12px;
        
        padding: 20px;
        
        width: 200px;
        text-align: center;

        transition: right .3s;
    }
    
    .nav-list li +li{
        border-top: 1px solid #ffffff;
    }
    .nav-list li a{
        padding-top: 10px;
    }
    
    body.mob-nav-open .nav-list{
        right: 0;
    }
    body.mob-nav-open span:nth-child(1){
        top: 48%;
        transform: rotate(45deg);
    }
    body.mob-nav-open span:nth-child(2){
        transform:  translateX(100%);
        opacity: 0;
    }
    body.mob-nav-open span:nth-child(3){
        top: 48%;
        transform: rotate(-45deg);
    }
    .tit-wrap{
        padding: 0;
        /* text-align: center; */
    }
    .tit{
        text-align: center;
    }
    .txt{
        margin: 0 auto;
        
    }
    .sec-2-lst{
        align-items: center;
        justify-content: center;
        
    }
    .sec-3 .img-wrap{
        width: 100%;
    }
    .sec-3 .tit-wrap{
        position: absolute;
        background-color: transparent;
        color: #fff;
        height: 100%;
        width: 100%;
        z-index: 3;
    }
}